a{
    text-decoration: none
}
.add {
  background-color: #44c767;
  border-radius: 20px;
  border: 1px solid #18ab29;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  display: flex;
  align-items: flex-end;
  .cartImg {
    height: 20px;
    width: 20px;
  }
}
.add:hover {
  background-color: #5cbf2a;
}
.add:active {
  position: relative;
  top: 1px;
}
