.content{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    .cardComponent{
        flex: 1 0 18%;
        display: flex;
        justify-content: center;
      }
  }